.key {
    background-image:url('../resources/images/icons/key.png') !important;
}

.key-go {
    background-image:url('../resources/images/icons/key_go.png') !important;
}

.cancel {
    background-image:url('../resources/images/icons/cancel.png') !important;
}

.en {
	background-image:url('../resources/images/icons/us.png') !important;
}
.es {
	background-image:url('../resources/images/icons/mx.png') !important;
}

.capslock{
	background:url('../resources/images/icons/icon_alert.gif') no-repeat center left;
	padding:2px;
	padding-left:20px;
	font-weight:700;
}